.magazine {
  width: 100%;
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 0 50px;
}

.magazine__container {
  width: 720px;
  height: 100%;
  background: linear-gradient(black, rgb(19, 195, 218));
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
}

.magazine__top-long-area {
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.magazine__bottom-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
}

.magazine__left-short-area {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.magazine__right-short-area {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.magazine__image {
  position: absolute;
  top: 0;
  left: 25px;
  width: 520px;
  height: 1024px;
  z-index: 2;
  object-fit: cover;
}

.magazine__title {
  margin: 60px auto 0;
  z-index: 1;
  font-size: 80px;
  font-weight: 900;
  text-decoration: underline;
  color: yellow;
  font-family: 'Orbitron'; 
}

.magazine__links {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.03);
}

.magazine__link {
  color: tomato;
  font-size: 24px;
  font-weight: bolder;
  z-index: 3;
  margin: 0;
  width: max-content;
  text-decoration: underline;
  font-family: 'Orbitron'; 
  font-weight: 500px;
}

.magazine__link-text {
  font-size: 18px;
  margin: 0;
  z-index: 3;
  line-height: 30px;
}

.magazine__links_margin {
  margin: 50px auto;
}

.magazine__links_place_right {
  width: 200px;
  align-items: flex-end;
  margin: 0 20px 0 0;
  z-index: 1;
}

.magazine__link_size_big {
  font-size: 40px;
  color: palevioletred;
}

.magazine__link-text_colored_pink {
  font-size: 20px;
  height: 690px;
  overflow: hidden;
  text-align: justify;
}

.magazine__time {
  color: yellowgreen;
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}